                                              TUPLAS
 - NO SE PUEDEN AGREGAR O QUITAR ELEMENTOS, SE ENCUENTRAN ENCERRADOS () Y SEPARADOS POR COMAS Y "" . 
 - Las tuplas son una secuencia de valores muy similares a una lista. La diferencia está en que no se pueden modificar una vez creadas, es decir que son inmutables. 

Sintácticamente son una lista de valores separados por comas, encerrados entre paréntesis

In [2]:
mi_tupla= (2,5,9,6,8,3)

print (mi_tupla)

(2, 5, 9, 6, 8, 3)

In [3]:
type (mi_tupla)

tuple

In [4]:
tupla_dias = ("lunes", "martes","miercoles","jueves","viernes", "sabado", "domingo")

print (tupla_dias [4])

viernes

In [5]:
tupla_dias [4]

'viernes'

                                             ----------------------------------------------

UTILIZANDO "IN" NOS DICE SI EL ELEMENTO SE ENCUENTRA O NO EN LA TUPLA (TAMBIEN SIRVE EN LISTAS)

In [6]:
"viernes"in tupla_dias

True

UTILIZANDO ".COUNT" NOS DICE LA CANTIDAD DE VECES QUE APARECE UN ELEMENTO (SIRVE TAMBIEN EN LISTAS)

In [7]:
tupla_dias.count ("sabado")

1

          ----------------------------------------------------------

PARA HACER UNA TUPLA DE UN SOLO ELEMENTO SE TERMINA CON UNA COMA

In [8]:
tupla_unitaria=("jueves",)

type(tupla_unitaria)

tuple

DE ESTA MANERA [2] ME DEVUELVE EL ELEMENTO UBICADO EN LA SEGUNDA POSICION, RECORDEMOS QUE SE ARRANCA DE 0

In [9]:
tupla_dias = ("lunes", "martes","miercoles","jueves","viernes", "sabado", "domingo")

tupla_dias [2]

'miercoles'

In [11]:
print (tupla_dias)

('lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo')

DE ESTA MANERA [1:5] ME DEVUELVE LOS ELEMENTOS COMPRENDIDOS ENTRE 1 Y 5 EL 5 ELEMENTO NO SE INCLUYE

In [ ]:
tupla_dias [1:5]

('martes', 'miercoles', 'jueves', 'viernes')

CREO 3 VARIABLES Y ARMO UNA TUPLA

In [ ]:
a= 8
b= 2
c= "henry"

In [ ]:
tupla=(a,b,c)

In [ ]:
print (tupla)

(8, 2, 'henry')

In [ ]:
type (tupla)

tuple

                     IGUALAMOS UNA VARIABLE CON UNA TUPLA
 - DESEMPAQUETADO DE TUPLAS                                  
 - a la primera ubicacion de la variable se le asigna el valor de la primera ubicacion de la tupla y asi sucecivamente, tienen que tener la misma cantidad de elementos si no da error.

In [ ]:
date= (26, "agosto", 2023)

In [ ]:
print (date)

(26, 'agosto', 2023)

In [ ]:
type (date)

tuple

In [ ]:
uno,dos,tres = (date)

In [ ]:
print (uno)

26

In [ ]:
print (dos)

agosto

In [ ]:
print (tres)

2023

PARA OBTENER CIERTOS VALORES DE LA TUPLA

In [ ]:
tupla_impares= (1,3,5,7,9,11)

primero = tupla_impares[0]
tercero= tupla_impares[2]
quinto= tupla_impares [4]

print (primero)
print (tercero)
print (quinto)

1
5
9

PODEMOS CAMBIAR UNA TUPLA A LISTA CON LA FUNCION LIST.

In [ ]:
lista_impares= list(tupla_impares)

print (lista_impares)

[1, 3, 5, 7, 9, 11]

In [ ]:
type (lista_impares)

list

TAMBIEN PODEMOS CAMBIAR UNA LISTA A UNA TUPLA CON LA FUNCION TUPLE

In [ ]:
tupla_impares=tuple(lista_impares)
print (tupla_impares)

(1, 3, 5, 7, 9, 11)

In [ ]:
type (tupla_impares)

tuple