                                                  OPERACIONES ENTRE VARIABLES

                                                    OPERADORES ARITMETICAS

- SUMA

In [29]:
8+8

16

In [2]:
a=8
b=3.5
a+b

11.5

In [7]:
a=10
a+8

18

- POTENCIACION

In [9]:
b=2
e=3
b**e

8

In [10]:
numero=3
numero**2

9

- DIVISION

In [11]:
10/3 #division

3.3333333333333335

In [12]:
10//3 #division redondeando la respuesta.

3

In [14]:
dividendo=21   #dividendo y divisor son las variables.
               #21 y 7 son los datos contenidos en las variables.
divisor=7

In [20]:
dividendo/divisor

3.0

In [19]:
print(dividendo/divisor)  #utilizo print para mostrar varios resultados.
print(dividendo*divisor)
print(type(dividendo/divisor))
print(type(dividendo*divisor))

3.0
147
<class 'float'>
<class 'int'>

In [22]:
dividendo//4 #divido la variable por un numero.
             #al utilizar // me arroja el resultado redondeado.

5

In [23]:
7%2 #modulo o resto nos devuelve el resto de una division.

1

In [25]:
print(6%2)           #este operador nos permite distinguir entre numeros pares e impares.
print(12%2)          #numeros pares con resto cero.
print(448%2)

0
0
0

In [30]:
print(9%2)           #numeros impares con resto uno.
print(15%2)          
print(327%2)

1
1
1

                                        ----------------------------------------------------

                                                OPERADORES RELACIONALES


SE UTILIZAN PARA COMPARAR Y ESTABLECER UNA RELACION ENTRE 2 OPERANDOS Y NOS DEVUELVE UN VALOR BOOLEANO.
BASADO EN QUE SE CUMPLA LA CONDICION QUE SE PROPONE.
==   IGUAL
!=   DISTINTO
>   MAYOR  #ALT 62
<   MENOR  #ALT 60
>=   MAYOR O IGUAL
<=   MENOR O IGUAL

In [1]:
4==4

True

In [2]:
4==2+2

True

In [3]:
4=='4'

False

In [5]:
print(type(4))
print(type('4'))

<class 'int'>
<class 'str'>

                                       ----------------------------------------------------

                                                       OPERADORES DE ASIGNACION


SE UTILIZAN PARA ASIGNAR VALORES A LAS VARIABLES
=    X=7
+=   X+=2
-=   X-=2
*=   X*=2
/=   X/=2
%=   X%=2
//=   X//=2
**=   X**=2

- SUMA

In [10]:
x=10

In [11]:
x+=5

In [12]:
print(x)

15

In [18]:
x=10

In [19]:
x=x+5

In [20]:
print(x)

15

 - RESTA

In [31]:
x=10

In [32]:
x-=4

In [33]:
print(x)

6

 - MULTIPLICACION

In [43]:
x=10

In [44]:
x*=2

In [45]:
print(x)

20

 - DIVISION

In [50]:
x=10

In [51]:
x/=3

In [52]:
print(x)

3.3333333333333335

In [53]:
x=10

In [54]:
x//=3

In [55]:
print(x)

3

In [3]:
x=12

In [5]:
x%=3

In [6]:
print(x)

0

 - POTENCIACION

In [68]:
x=10

In [69]:
x**=2

In [70]:
print(x)

100

                                          -----------------------------------------------

                                                        OPERAR CON STRINGS


CONCATENACION  +  
 - "HOLA" + "MUNDO!" = "HOLA MUNDO!"

In [1]:
"hola " + "mundo!"

'hola mundo!'

In [3]:
"hola"+" "+"mundo!"

'hola mundo!'

MULTIPLICACION    *
 - "JA" *3  = "JA JA JA"

In [4]:
"Henry " *5

'Henry Henry Henry Henry Henry '

                                       --------------------------------------------------

                                                      OPERACIONES LOGICAS

"AND" 
 - SE TIENE QUE CUMPLIR LAS 2 CONDICIONES 
 - ES UNA Y LA OTRA.

In [6]:
print(True and True) #true 
print(True and False) #false
print(False and True) #false
print(False and False) #false

True
False
False
False

"OR" 
 - POR LO MENOS SE TIENE QUE CUMPLIR UNA CONDICION -
 - ES UNA O LA OTRA / O LAS DOS.

In [ ]:
print(True or True) #true 
print(True or False) #true
print(False or True) #true
print(False or False) #false

"NOT"
 - INVIERTE

In [9]:
print (not True)  #false
print (not False) #true

False
True

"XOR" OR EXCLUSIVA
- CUANDO A Y B SEAN LAS 2 TRUE O FALSE LA SALIDA ES FALSA. 
- ESTE OPERADOR EVALUA SI SE CUMPLEN O NO 2 CONDICIONES MUTUAMENTE EXCLUYENTES.
- POR EJEMPLO UN GATO PUEDE SER MACHO O HEMBRA PERO NO AMBOS.

In [10]:
a=bool(1) #true
b=bool(0) #false

In [11]:
print (a^b)

True

In [14]:
a=bool(0) #false
b=bool(0) #false

In [15]:
print(a^b)

False

In [16]:
a=bool(1) #true
b=bool(1) #true

In [17]:
print(a^b)

False

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                                                    CONVERCION ENTRE TIPO DE DATOS


AL VALOR DE UNA VARIABLE PAYTHON LES ASIGNA UN TIPO DE DATO (INT,FLOAT,BOOL).
AVECES ES NECESARIO CAMBIAR ESE TIPO DE DATO DE ORIGEN.
CASTING EN PYTHON ES EL PROCESO DE CONVERTIR UN TIPO DE DATO EN OTRO TIPO DE DATO

INT

- CON LA FUNCION INT, CONVERTIMOS UN NUMERO DECIMAL FLOAT A UN NUMERO ENTERO.

In [1]:
num=3.5
print(type(num))

<class 'float'>

In [2]:
int(num)    #convertimos numero float a entero

3

- TAMBIEN CON CON LA FUNCION INT, PODEMOS CONVERTIR UN STRINGS A UN NUMERO ENTERO.

In [3]:
num="8"      #el 8 al estar entre comillas es un strings.
type(num)    #con la funcion type vemos el tipo de variable que es.

str

In [4]:
int(num)      #convertimos strings a un entero con la funcion int.

8

In [5]:
type (num)    #aunque esto no modifica a la variable num,
              #ya que si lo volvemos a pasar la variable por la funcion type, nos vuelve a mostrar que es un strings.

str

In [6]:
num=int(num)   #si queremos conservar el cambio es decir que num sea un entero.
               #reasignamos un valor de tipo entero a la variable num.

In [7]:
type(num)      #con la funcion type vemos el tipo de variable que es.

int

FLOAT

 - CON LA FUNCION FLOAT, PODEMOS CONVERTIR UN STRINGS A UN NUMERO DECIMAL FLOAT.

In [9]:
num="8.5"             #el 8.5 al estar entre comillas es un strings.  
print(type(num))

<class 'str'>

In [10]:
float(num)            #con la funcion foat convertimos un strings a un numero decimal.

8.5

In [11]:
type(num)              #aunque si vemos el tipo de dato que es sigue siendo un strings.

str

In [12]:
num3=float(num)          #convertimos a flotante y guardamos en una nueva variable.

In [16]:
print(type(num))
print(type(num3))

<class 'str'>
<class 'float'>

- TAMBIEN CON CON LA FUNCION FLOAT, PODEMOS CONVERTIR UN NUMERO ENTERO A UN NUMERO DECIMAL.

In [17]:
num=4
type(num)

int

In [19]:
num4=float(num)           #convertimos a flotante y guardamos en una nueva variable.

In [21]:
print(type(num))
print(type(num4))

<class 'int'>
<class 'float'>

STR

- CON LA FUNCION STR, PODEMOS CONVERTIR UN NUMERO ENTERO EN UN STRINGS.

In [22]:
x=10                      #declaro una variable con un tipo de dato entero.
y=str(x)                  #convertimos la variable x= que es un entero a una nueva variable y= strings STR
print(type(x))            #mostramos tipo de dato x.
print(type(y))            #mostramos tipo de dato y.

<class 'int'>
<class 'str'>

- TAMBIEN CON CON LA FUNCION str, PODEMOS CONVERTIR UN NUMERO FLOAT A STRINGS (STR).

In [23]:
w=2.2                     #declaro una variable con un tipo de dato float.
z=str(w)                  #convertimos la variable w= que es un float a una nueva variable z= strings STR
print(type(w))            #mostramos tipo de dato w.
print(type(z))            #mostramos tipo de dato z.

<class 'float'>
<class 'str'>

#declaro un numero entero como la variable.
#convertimos la variable x= que es un entero a una nueva variable y= strings STR
#mostramos tipo de dato x.
#mostramos tipo de dato y.

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                                                              NUMEROS BINARIOS

El sistema binario es un sistema numérico que utiliza únicamente dos dígitos: 0 y 1. el sistema binario simplifica las representaciones numéricas al utilizar solo dos estados posibles.
Cada dígito en un número binario se denomina "bit", que es la unidad fundamental de la información digital. Un bit puede estar en uno de los dos estados: encendido (1) o apagado (0). Al combinar varios bits, podemos representar números y realizar operaciones sobre ellos.

En la programación, los números binarios se utilizan en operaciones de bits para realizar manipulaciones eficientes en los datos. Estas operaciones pueden incluir desplazamientos, combinaciones lógicas (como AND, OR, XOR) y manipulaciones más complejas utilizando las propiedades de los bits.

Se escribe el símbolo (^) seguida de un número para indicar un exponente. 

Número binario: 1101

- 1--------------1-------------0-----------1
- 2^3----------2^2---------2^1---------2^0
- (1 * 2^3) + (1 * 2^2) + (0 * 2^1) + (1 * 2^0) = 
- ----8-----+-----4-----+-----0----+-----1-----= 13

La operación 1 << 2 en Python realiza un desplazamiento a la izquierda de bits (bitwise left shift) en el número entero 1. En este caso, el número binario 1 se desplaza dos posiciones hacia la izquierda, y se rellena con ceros a la derecha. El resultado de esta operación es 4. Explicación paso a paso:

El número 1 en binario es representado como 0001.
Realizamos un desplazamiento de dos posiciones hacia la izquierda: 0001 << 2.
El resultado es 0100, que en decimal representa el número 4.*
Es importante tener en cuenta que el desplazamiento a la izquierda de bits (<<) multiplica el número original por 2 elevado a la potencia del número de posiciones desplazadas. En este caso, 1 se multiplica por 2 elevado a la potencia de 2, lo que resulta en 4.

In [1]:
resultado1= 1 << 2

In [2]:
print (resultado1)

4

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                                                                    HOMEWORK

1-Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [27]:
a=4

In [28]:
print(a)

4

2-Imprimir el tipo de dato de la constante 8.5

In [29]:
b=8.5

In [32]:
print(type (b))

<class 'float'>

3-Imprimir el tipo de dato de la variable creada en el punto 1

In [31]:
print(type(a))

<class 'int'>

4-Crear una variable que contenga tu nombre

In [34]:
nom="adrian"

5-Crear una variable que contenga un número complejo

In [5]:
num=5+5j

6-Mostrar el tipo de dato de la variable crada en el punto 5

In [36]:
type(num)

complex

7-Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [37]:
pi=3,1416

8-Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [45]:
c="True"
d=True

no son iguales porque una variable STRING y la otra variable es BOOLEANA

9-Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [46]:
print(type(c))
print(type(d))

<class 'str'>
<class 'bool'>

10-Asignar a una variable, la suma de un número entero y otro decimal

In [47]:
e=4+2.5

11-Realizar una operación de suma de números complejos

In [9]:
f=4+6j
f1=2+2j

In [10]:
f+f1

(6+8j)

12-Realizar una operación de suma de un número real y otro complejo

In [7]:
g=4+8j
g1=6

In [11]:
print(g+g1)

(10+8j)

13-Realizar una operación de multiplicación

In [54]:
h=3*5

14-Mostrar el resultado de elevar 2 a la octava potencia

In [55]:
i=2**8

In [56]:
print(i)

256

15-Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [57]:
j=27/4

In [58]:
print(j)

6.75

16-De la división anterior solamente mostrar la parte entera

In [67]:
j=27//4

In [68]:
print(j)

6

17-De la división de 27 entre 4 mostrar solamente el resto

In [69]:
k=27%4

In [71]:
print(k)

3

18-Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [72]:
l=4*(j)+(k)

In [73]:
print(l)

27

19-Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [13]:
m="hola "+" a los 3"

In [14]:
print(m)

hola  a los 3

20-Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [15]:
2=="2"

False

no son iguales porque "2" es un str y 2 es un entero, ocurre esto por las comillas.

21-Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [19]:
2 == int("2")

True

In [76]:
n="2"

In [77]:
int(n)

2

In [78]:
type(n)

str

In [79]:
n1=int(n)

In [80]:
print(n1)

2

In [81]:
type(n1)

int

22-¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

porque ('3.8') no es un numero decimal, es un strings STR

23-Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [82]:
o=3

In [83]:
o-=1

In [85]:
print(o)

2

24-Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [3]:
resul= 1<<2

In [4]:
print(resul)

4

El sistema binario es un sistema numérico que utiliza únicamente dos dígitos: 0 y 1. el sistema binario simplifica las representaciones numéricas al utilizar solo dos estados posibles.
Cada dígito en un número binario se denomina "bit", que es la unidad fundamental de la información digital. Un bit puede estar en uno de los dos estados: encendido (1) o apagado (0). Al combinar varios bits, podemos representar números y realizar operaciones sobre ellos.

25-Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

no se pueden sumar porque uno es un numero entero y el otro es string

In [20]:
2+"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
int(2)+int('2')

4

In [23]:
float(2)+float('2')

4.0

In [27]:
str ( 2 ) + str('2')

'22'

26-Realizar una operación válida entre valores de tipo entero y string

In [37]:
var1="hola a los "
var2= 3

In [33]:
var3=str(var2)

In [31]:
type (var3)

str

In [38]:
print (var1 + var3)

hola a los 3